extends layout

block content
  a(href="/", title="Go back to the home page", class="navLink") Home |
  a(href="/locations", title="Go back to the locations page", class="navLink") Locations |
  h1 Location Added Successfully
  p You successfully added the location with name #{name}
