extends layout

block content
  h1= title
  p Welcome to #{title}
  p Pug is not that hard to learn
  div 
    p Hello
    h2 Some more text
  section
    h2 Introduction to git
    p Git is a code management tool that is extremely useful. 

