extends layout

block content
  a(href="/", title="Go back to the home page", class="navLink") Home
  a(href="/locations", title="Go back to the locations page", class="navLink") Back to Locations

  h1 Locations
  div(class="vendors")
    each vend in vendors
      div(class="vendor")
        p=vend.name
        p Description: #{vend.description}
        p=vend.rating

  div
    a(href="/vendors/addform/" + location, title="Add a Vendor", class="navLink") Add Vendor      

